#MainMenu {visibility: hidden;}

#page-container {
  position: relative;
  min-height: 10vh;
}

footer {visibility: hidden;}

#GithubIcon {
  visibility: hidden;
}

.stDeployButton {
    visibility: hidden;
}

.stActionButton {  /*fork and github icon*/
    visibility: hidden;
}

.viewerBadge_container__r5tak {
    visibility: hidden;
}